:root {
  --text-secondary-perpetuo: rgba(131, 131, 131, 1);
  --dark-perpetuo: rgba(26, 35, 126, 1);
  --info: rgb(181, 220, 255);
  --info-co: rgb(26, 35, 126);
  --info-sha: rgba(0, 134, 255, 0.29);
  --info-up: rgba(181, 200, 255, 1);
  --primary: rgba(0, 134, 255, 1);
  --primary-co: rgba(255, 255, 255, 1);
  --primary-sha: rgba(0, 0, 0, 0.3);
  --primary-up: rgba(0, 114, 255, 1);
  --accent: rgba(236, 0, 255, 1);
  --accent-co: rgba(255, 255, 255, 1);
  --accent-sha: rgba(0, 0, 0, 0.3);
  --accent-up: rgba(216, 0, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --sky-blue: rgba(232, 244, 255, 1);
  --black: rgba(0, 0, 0, 0.7);
  --dark: var(--dark-perpetuo);
  --text-secondary: var(--text-secondary-perpetuo);
  --bg-white: var(--white);
  --purple: rgba(174, 195, 255, 1);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --dark: rgba(255, 255, 255, 1);
    --info: rgba(18, 64, 163, 1);
    --info-co: var(--white);
    --info-sha: transparent;
    --info-up: rgba(18, 64, 143, 1);
    --text-secondary: var(--white);
    --bg-white: var(--dark-perpetuo);
    --sky-blue: rgba(6, 30, 64, 1);
    --black: var(--white);
    --purple: rgba(36, 63, 178, 1);
  }
} */

:root .theme-dark {
  --dark: rgba(255, 255, 255, 1) !important;
  --info: rgba(18, 64, 163, 1) !important;
  --info-co: var(--white) !important;
  --info-sha: transparent !important;
  --info-up: rgba(18, 64, 143, 1) !important;
  --text-secondary: var(--white) !important;
  --bg-white: var(--dark-perpetuo) !important;
  --sky-blue: rgba(6, 30, 64, 1) !important;
  --black: var(--white) !important;
  --purple: rgba(36, 63, 178, 1) !important;
}

:root .theme-light {
  --dark: var(--dark-perpetuo) !important;
  --info: rgb(181, 220, 255) !important;
  --info-co: rgb(26, 35, 126) !important;
  --info-sha: rgba(0, 134, 255, 0.29) !important;
  --info-up: rgba(181, 200, 255, 1) !important;
  --sky-blue: rgba(232, 244, 255, 1) !important;
  --text-secondary: var(--text-secondary-perpetuo) !important;
}

.page-container.theme-light {
  background: var(--white) !important;
}

.page-container.theme-dark {
  background: linear-gradient(
    180deg,
    #1a237e 7.2%,
    #000000 80.73%,
    #000000 98.73%
  );
}
.page-container.theme-dark .select svg.icon ellipse{
  fill: var(--white);
  fill-opacity: 1;
}
.page-container.theme-dark .select svg.chevron circle {
  fill: var(--dark-perpetuo)
}
.page-container.theme-dark .select svg.chevron path, .page-container.theme-dark .powered-block svg path {
  fill: var(--white);
}

.page-container.theme-dark .powered-block span {
  opacity: 0.7;
}
