@import "./assets/css/fonts.css";
@import "./assets/css/colors.css";

* {
  padding: 0;
  margin: 0;
  font-family: "SuiseIntl";
}

html {
  font-size: 16px;
  overflow: hidden;
}

input[type=number] { -moz-appearance:textfield; }

select {
  width: 250px;
  max-width: 100%;
  padding: 10px;
  background-color: #aec3ff;
  border: 0;
  border-radius: 5px;
}

#lbl {
  font-size: 1.2rem;
  font-weight: 600;
  text-indent: 8px;
  color: var(--dark);
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
}
